.Button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(177, 177, 177);
  color: white;
  opacity: 20%;
}

.Button.active {
  background-color: rgb(177, 177, 177);
  color: white;
  opacity: 100%;
}
