.Card {
  margin: 0 auto;
  width: 350px;
  height: auto;
  padding: 20px;
  border: solid;
  border-color: black;
  font-family: sans-serif;
  position: relative;
}

.Card__Title {
  font-weight: bolder;
}

.Card__Text {
  font-weight: lighter;
}

.Card__Question {
  font-weight: 400;
}

.Card__Answer {
  font-weight: bolder;
}

.Card__Bookmark {
  position: absolute;
  height: 50px;
  width: 30px;
  top: -15px;
  right: 30px;
  background-color: lightgray;
  border: solid;
  border-color: black;
}

.Card__Bookmark--selected {
  background-color: hotpink;
}

.Card__Answer {
  display: block;
}

.Card__Answer--hidden {
  display: none;
}

.Card__TagList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Card__TagList--Item {
  background-color: lightblue;
  padding: 3px 5px;
  color: aliceblue;
  border-radius: 5px;
}
